.contact-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10%;
    margin: 10rem 0;    
    /* background-color: var(--primary-container-color); */
    /* border-top: 2px solid var(--surface--color);
    border-bottom: 2px solid var(--surface--color); */
        
}

.contact-container img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 1000px;
    opacity: 0.12;
}

.info-section {
    /* width: 30vw; */
    padding: 10rem 3rem 2.5rem 3rem;
}

.info-section h2 {
    font-family: "Roboto Condensed";
    font-size: 3rem;
    margin-bottom: 1rem;
}

.info-section .header-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.info-section ul {
    padding: 0;
}
.info-section li {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 3%;
    list-style-type: none;
    padding: 0.5rem 0;
    margin: 0;
}

.info-section li h4 {
    font-weight: 300;
    font-size: 1.5rem;
}

.info-section li i {
    font-size: 1.8rem;
}

.form-section {
    width: 40vw;
    padding: 1rem;
    margin-top: 10rem;
    margin-bottom: 4.5rem;
    background-color: #344a52;
    border-radius: 3vmin;
    box-shadow: 5px 10px 30px 2px rgba(0, 0, 0, 0.25);
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section form input, textarea {
    padding:  1rem 0.5rem;
    background-color: #cee6f0; 
    border: none;
    margin: 1rem 0;
    border-radius: 1vmin;
}
.form-section form input::placeholder, textarea::placeholder {
    color: #507f8d;
}

.form-section .form-btn {
    align-self: center;
    width: 30%;
    border-radius: 2.5vmin;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    box-shadow: 5px 10px 30px 2px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
}

@media (max-width: 1600px) {
    .form-section {
        padding: 1rem 2rem;
    }
}

@media (max-width: 1300px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-container img {
        margin-top: 5rem;
    }

    .form-section {
        margin-top: 1rem;
        width: 70vw;
    }
}

@media (max-width: 500px) {
    .contact-container {
        margin-top: 0;
    }

    .contact-container img {
    height: 900px;
}

    .info-section {
        padding-top: 3rem;
    }

    .form-section {
        margin-top: 2rem;
        padding: 0 0.7rem;
        width: 80%;
    }

    .form-section .form-btn {
        width: 40%;
    }

}

@media (max-width: 400px) {

}

